.header {

  & > .inner {
    display: flex;
    justify-content: flex-end;
  }

  &_logo {
   

  }

  .drawer-bars {
    display: inline-block;
    height: 32px;
    width: 40px;

    position: fixed;
    top: 10px;
    right: 10px;
    //vertical-align: bottom;
    //margin-top: 10px;
    z-index: 3;

    @include tab(){
      display: none;
    }
 
    &.active span {
      &:nth-of-type(1) {
        transform: translateY(15px) rotate(-45deg);
      }
      &:nth-of-type(2) {
        opacity: 0;
      }
      &:nth-of-type(3) {
        transform: translateY(-15px) rotate(45deg);
      }
    }
  }

  .drawer-bar {
    -webkit-transition: all 0.3s linear 0s;
    transition: all 0.3s linear 0s;
    background: #424242;
    border-radius: 3px;
    display: block;
    height: 3px;
    left: 0;
    position: absolute;
    right: 0;
    width: 100%;
  }

  .drawer-bar:nth-of-type(1) {
    top: 0;
  }

  .drawer-bar:nth-of-type(2) {
    top: 14px;
    //background: $fontColorPoint;
  }

  .drawer-bar:nth-of-type(3) {
    bottom: 0px;
  }

  // 出たり引っ込んだりするメニューそのもの
  .topNav {
    position: fixed;
    top: 0;
    right: -100%;
    // display: none;
    background: rgba(255, 255, 255, .85);
    width: 80%;
    height: 100vh;
    padding-top: 50px;
    transition: .5s;
    &.active {
      // display: block;
      transition: .5s;
      right: 0;
      // transform: translateX(-100%);
      z-index: 2;
    }

    &_item {
      text-align: center;
      padding-top: 1rem;
      padding-bottom: 1rem;
      font-size: 3rem;

      & a {
        display: block;
      }
    }

    @include tab(){
      padding-top: 20px;
      position: static;
      background: $bgColor;
      & .topNav_items {
        display: flex;
        justify-content: flex-end;
      }
      & .topNav_item {
        // display: inline-block;
        font-size: 2rem;
        padding: 0;
        &:not(:first-child) {
          margin-left: 2rem;
        }
      }
    }
  }
}

